body {
    background: linear-gradient(45deg, rgba(230, 101, 115, 0.5) 0%, rgba(230, 101, 115, 0.5) 14.286%, rgba(197, 98, 111, 0.5) 14.286%, rgba(197, 98, 111, 0.5) 28.572%, rgba(165, 94, 106, 0.5) 28.572%, rgba(165, 94, 106, 0.5) 42.858%, rgba(132, 91, 102, 0.5) 42.858%, rgba(132, 91, 102, 0.5) 57.144%, rgba(99, 87, 98, 0.5) 57.144%, rgba(99, 87, 98, 0.5) 71.43%, rgba(67, 84, 93, 0.5) 71.43%, rgba(67, 84, 93, 0.5) 85.716%, rgba(34, 80, 89, 0.5) 85.716%, rgba(34, 80, 89, 0.5) 100.002%), linear-gradient(135deg, rgb(225, 176, 190) 0%, rgb(225, 176, 190) 14.286%, rgb(203, 158, 198) 14.286%, rgb(203, 158, 198) 28.572%, rgb(180, 139, 206) 28.572%, rgb(180, 139, 206) 42.858%, rgb(158, 121, 214) 42.858%, rgb(158, 121, 214) 57.144%, rgb(136, 102, 222) 57.144%, rgb(136, 102, 222) 71.43%, rgb(113, 84, 230) 71.43%, rgb(113, 84, 230) 85.716%, rgb(91, 65, 238) 85.716%, rgb(91, 65, 238) 100.002%)
}

.crystal {
    height: 90px;
    width: 90px;
}

#description {
    border-style: solid;
    border-width: 2px;
    padding: 2%;
    font-family: 'Open Sans Condensed', sans-serif;
}

#images {
    border-style: solid;
    border-width: 2px;
    float: right;
    margin-bottom: 5%;
    padding: 5%;
}

#header {
    background-color: lightblue;
    padding: 20px;
    font-size: 200%;
    font-family: 'Gayathri', sans-serif;
}

#display {
    border-style: solid;
    border-width: 2px;
    padding: 2%;
    width: 200px;
    height: 200px;
    float: left;
    margin-bottom: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
}

#main-content {
    margin: 10%;
}

#score {
    border-style: solid;
    border-width: 2px;
    padding-bottom: 8%;
    padding-top: 2%;
    padding-right: 12%;
    float: left;
    margin-left: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
}